* {
  margin: 0px;
  padding: 0px;
}
.header,
.footer {
  background-color: rgb(180, 185, 189);
  width: 100vw;
  height: 10vh;
}
.header {
  margin-bottom: 4px;
}

.a,
.b {
  width: 80vw;
}

.a {
  background-color: red;
  height: 39.5vh;
}
.b {
  background-color: #a07902;
  height: 39.5vh;
}
.c {
  background-color: yellow;
  width: 20vw;
}

.container {
  display: flex;
  margin-bottom: 4px;
}

@media (max-width: 720px) {
  .header,
  .footer {
    background-color: rgb(180, 185, 189);
    width: 100vw;
    height: 5vh;
  }
  .header {
    margin-bottom: 4px;
  }
  .container {
    display: flex;
    margin-bottom: 2px;
  }
  .a,
  .b {
    width: 50vw;
    height: 45vh;
  }

  .a {
    background-color: red;
  }
  .b {
    background-color: #a07902;
  }
  .c {
    background-color: yellow;
    width: 50vw;
  }
}

@media (max-width: 400px) {
  .header,
  .footer {
    background-color: rgb(180, 185, 189);
    width: 100vw;
    height: 5vh;
  }
  .header {
    margin-bottom: 4px;
  }
  .container {
    margin-bottom: 4px;
  }
  .a,
  .b {
    width: 100vw;
    height: 29.3vh;
  }

  .a {
    background-color: red;
  }
  .b {
    background-color: #a07902;
  }
  .c {
    background-color: yellow;
    width: 100vw;
    height: 29.3vh;
  }
}
