/* first set of the task */

* {
  margin: 0px;
  padding: 0px;
}

.header,
.footer {
  background-color: rgb(155, 159, 163);
  width: 100vw;
  height: 10vh;
}
.container {
  display: flex;
}
.b {
  order: -1;
  height: 80vh;
  width: 20vw;
  background-color: greenyellow;
}
.c {
  order: 1;
  height: 80vh;
  width: 20vw;
  background-color: yellow;
}
.a {
  background-color: green;
  width: 60vw;
}
/* second set of the task */
@media (max-width: 700px) {

  .container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .a {
    order: -2;
    width: 100vw;
    height: 60vh;
    background-color: green;
    border: 1px solid white;
  }
  .b {
    order: -1;
    background-color: greenyellow;
    width: 49.5vw;
    height: 20vh;
    border: 1px solid white;
  }
  .c {
    order: 0;
    background-color: yellow;
    width: 49.5vw;
    height: 20vh;
    border: 1px solid white;
  }
}
/* third set of the task */
@media (max-width: 400px) {
  .container {
    display: flex;
  }
  .a {
    height: 70vh;
    width: 100vw;
    background-color: green;
    border: 1px solid white;
  }
  .b,
  .c {
    height: 10vh;
    width: 100vw;
  }
  .b {
    background-color: greenyellow;
  }
  .c {
    background-color: yellow;
  }
}
